# TD 1 | Introduction à Python pour l'analyse de données

In [1]:
test="hello"
print(test)

hello

App.1 : Ecrire une fonction qui retourne le plus grand commun diviseur (pgcd) entre deux nombres a et b.

In [2]:
def pgcd(a,b):
	if(b==0):
		return(a)
	else:
		return pgcd(b, a % b)

In [3]:
pgcd(20,5)

5

EXERCICE - Afficher un tuple contenant les dimensions de la matrice A

In [4]:
import random

In [5]:
taille = 2
A = [[random.random() for _ in range(taille)] for _ in range(taille+1)]
B = [[random.random() for _ in range(taille+1)] for _ in range(taille)]

In [6]:
print("A:\n")
print(A)

print("B :\n")
print(B)

A:

[[0.6873869679715925, 0.8743617257021311], [0.8616046148957851, 0.12731552439978244], [0.13214348447746316, 0.9180700939868911]]
B :

[[0.8782832693022232, 0.20586050463035854, 0.1527868777607676], [0.6992072757196901, 0.5292253830966795, 0.535287321055714]]

In [7]:
def dimension_Matrice(A):
	"""retourne dimension (ligne,colonne)"""
	return((len(A),len(A[0])))

In [8]:
dimension_Matrice(A)[0]
A[1][0]

0.8616046148957851

EXERCICE - Implémenter le produit matriciel de 2 matrices sous forme de listes de listes python
$$ (AB)_{ij} = \sum_k A_{ik} B_{kj} $$

In [9]:
def prod_Matriciel(m1, m2):
  m = []
  if len(m1[0]) != len(m2):
    print ("erreur")
    return False
  for i in range(len(m1)):
    ligne = []
    for j in range(len(m2[0])):
      element = 0
      for k in range(len(m1[0])):
        element = element + m1[i][k] * m2[k][j]
      ligne.append(element)
    m.append(ligne)
  return m

In [10]:
prod_Matriciel([[1, 2], [3, 4]], [[1, 2], [3, 4]]) == [[7, 10], [15, 22]]

True

Remplissage du tableau

In [11]:
import numpy as np
import timeit
for taille in [30,300]:
	A=[[random.random() for _ in range(taille)] for _ in range(taille)]
	%timeit np.dot(A, A)
	%timeit prod_Matriciel(A,A)

309 µs ± 39 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
6.17 ms ± 2.5 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)
16 ms ± 883 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
4.66 s ± 149 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

Taille | Python | numpy
-------|--------|-------
30     | 5.19ms    | 185$\mu$s
300    | 5.49s    | 18ms
3000   | XXX    | XXX

EXERCICE - Dimensions d'un DataFrame
Affichez le nombre de colonnes et de ligne du DataFrame (indice : beaucoup de méthodes sont communes entre numpy et pandas)

In [12]:
import pandas as pd

In [13]:
# Chargement d'un fichier CSV ou Excel
df = pd.read_csv("../data/Vol010.csv")
# Affichage des 5 premières lignes
df.head()

,t,EGT_SEL,FLIGHT_MOD,FMV_SEL,HPTC_SEL,LPTC_SEL,N1_SEL,N2_ACTSEL,OIL_P,OIL_TEMP,...,T25_SEL,T3_SEL,VBV_SEL,VIB_CN1,VIB_CN2,VIB_TN1,VIB_TN2,VSV_SEL,WFM_SEL,XM
0,datenum,deg_C,_,_,%,%,%,%_RPM,psi,_,...,_,_,DEG,_,_,_,_,DEG,lb/h,mach
1,15/09/2011 14:25:58.125,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15/09/2011 14:25:58.375,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15/09/2011 14:25:58.625,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15/09/2011 14:25:58.875,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7679.98,0.15

In [14]:
print("Le dataset a "+str(df.shape[0])+" ligne et "+str(df.shape[1])+" colonnes")

Le dataset a 22945 ligne et 26 colonnes

EXERCICE - Extraction et suppression des unités
On remarque que la 1ère ligne ne contient pas de données mais les unités de chaque colonne.
Pour la suite des traitements, il faut supprimer cette ligne. On souhaite toutefois garder l'information des unités de chaque colonne.
1. Récupérez les unités et stockez les dans une structure adaptée.
2. Supprimez cette ligne du DataFrame en utilisant la méthode "drop"

In [15]:
Unite_df=df.iloc[0]
df=df.drop(0)

Exercice - Index temporel
Comme nos données sont une série temporelle multivariée, on souhaite utiliser un index temporel.
1. Créez une copie de df, appelée df2, à l'aide de la méthode du même nom.
2. Affectez la colonne du temps ('t') en tant qu'indice du DataFrame.
3. Supprimez la colonne 't' du DF résultant.

In [16]:
df2=df.set_index('t')
df2.head()

,EGT_SEL,FLIGHT_MOD,FMV_SEL,HPTC_SEL,LPTC_SEL,N1_SEL,N2_ACTSEL,OIL_P,OIL_TEMP,PS3_SEL,...,T25_SEL,T3_SEL,VBV_SEL,VIB_CN1,VIB_CN2,VIB_TN1,VIB_TN2,VSV_SEL,WFM_SEL,XM
t,,,,,,,,,,,,,,,,,,,,,
15/09/2011 14:25:58.125,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15/09/2011 14:25:58.375,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15/09/2011 14:25:58.625,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15/09/2011 14:25:58.875,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7679.98,0.15
15/09/2011 14:25:59.125,NaN,NaN,NaN,NaN,NaN,0,0,647.998,NaN,575.982,...,NaN,NaN,0,0,0,0,0,0,4607.86,0.15

EXERCICE - La méthode isna
1. Testez la méthode isna sur le DataFrame df2, puis sur une colonne ou une ligne. Que renvoie-t-elle ?
2. En appliquant les méthodes any(axis=...), mean() et max()/idxmax() sur les résultats de isna(), répondez aux questions suivantes :
    2.1 Quelles colonnes contiennent des valeurs manquantes, lesquelles n'en contiennent pas ?
    2.2 Quel est le pourcentage de valeurs manquantes dans le DF (a) par colonne (b) globalement ? Quelle variable contient le plus de NaN ?
    2.3 Quel est le pourcentage d'indices du DF pour lesquels toutes les variables sont présentes ?

In [17]:
df2.isna()
#La méthode renvoie True si la donnée est NaN, False sinon

,EGT_SEL,FLIGHT_MOD,FMV_SEL,HPTC_SEL,LPTC_SEL,N1_SEL,N2_ACTSEL,OIL_P,OIL_TEMP,PS3_SEL,...,T25_SEL,T3_SEL,VBV_SEL,VIB_CN1,VIB_CN2,VIB_TN1,VIB_TN2,VSV_SEL,WFM_SEL,XM
t,,,,,,,,,,,,,,,,,,,,,
15/09/2011 14:25:58.125,True,True,True,True,True,True,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
15/09/2011 14:25:58.375,True,True,True,True,True,True,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
15/09/2011 14:25:58.625,True,True,True,True,True,True,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
15/09/2011 14:25:58.875,True,True,True,True,True,True,False,True,True,True,...,True,True,True,True,True,True,True,True,False,False
15/09/2011 14:25:59.125,True,True,True,True,True,False,False,False,True,False,...,True,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15/09/2011 16:01:32.875,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
15/09/2011 16:01:33.125,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
15/09/2011 16:01:33.375,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
15/09/2011 16:01:33.625,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
15/09/2011 16:01:33.875,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

EXERCICE - La méthode dropna
La méthode dropna permet d'éliminer les valeurs manquantes (NaN). Lisez d'abord sa documentation.
1. À quoi correspondent les arguments "axis" et "how" ?
2. Éliminez toutes les lignes contenant uniquement des valeurs manquantes.
3. Éliminez toutes les lignes contenant au moins une valeur manquante. Combien y a-t-il de lignes de différence ?
4. Éliminez toutes les colonnes contenant au moins une valeur manquante.

In [18]:
# axis permet d'éliminer les lignes / colonnes en précisiant 0 ou 1
# how permet de dire si on veut éliminer si y a un NaN (any) ou si ya que des NaN (all)

In [19]:
df10=df.dropna(axis=0,how="all")
df11=df.dropna(axis=0,how="any")
df12=df.dropna(axis=1,how="any")

In [20]:
print("il y a "+str(df.shape[0]-df11.shape[0])+" ligne(s) de difference avec df d'origine")

il y a 119 ligne(s) de difference avec df d'origine

EXERCICE - La méthode fillna
La méthode dropna permet d'imputer les valeurs manquantes (NaN). Lisez d'abord sa documentation.
1. Quelles sont les différentes stratégies de remplissage des valeurs manquantes ?
2. Imputez les valeurs manquantes de la colonne age du DF donné en exemple par :
    - 0
    - la dernière valeur précédente/suivante valide
    - la moyenne
    - la valeur la plus courante (mode)
3. Quel est le meilleur choix dans ce cas ? Et pour le cas d'une variable temporelle, par exemple la température 'EGT_SEL' de notre jeu de données ?